* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.site-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-wrp {
  display: flex;
  height: 140px;
  align-items: center;

  .logo {
    height: 100%;
    max-height: 35px;
  }
}

@media only screen and (min-width: 750px) {
  .medium-up--one-fifth {
    width: 20%;
  }
  .medium-up--hide {
    display: none !important;
  }
  .left-nav {
    list-style: none;
  }
  .site-nav ul,
  .site-footer__menu {
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
  }
  .list--inline li {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  .social-links a {
    color: #333;
  }
  .visually-hidden,
  .icon__fallback-text,
  .supports-no-js .featured-blog__post .article__featured-image-wrapper,
  .supports-no-js .map-section__background-wrapper .js {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}
.listing-title {
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 6.86px;
}

.st-list_container,
.st-detail_container {
  // display: flex;
  // justify-content: space-around;
  padding-bottom: 40px;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  li {
    margin-top: 20px;
    margin-right: 20px;
    // width: 280px;
    width: 25%;
    height: 380px;
    // background-color: #000;
    float: left;
    overflow: hidden;
  }
  a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  .st-list_thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    img {
      width: 105%;
      height: auto;
    }
  }
  .st-list_desc {
    background-color: rgba(255, 243, 247, 0.96);
    // background-color: rgba(223,231,245,.96);
  }
  .st-list_desc_m {
      background-color: rgba(223,231,245,.96);
  }
  .st-list_desc {
    padding: 20px 0;
    margin: auto;
    width: 100%;
    // background-color: #eee;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s;
    z-index: 2;
    p {
      font-size: 16px;
      // font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 2px;
      color: #000;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, YakuHanJP, 游ゴシック体,
        YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium",
        "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3,
        "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro",
        "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック",
        "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial,
        "Segoe UI", sans-serif;
    }
  }
  .st-list_name {
    font-size: 24px;
    // font-size: 2.4rem;
    letter-spacing: 1.5px;
    transition: 0.2s;
  }
  .st-list_rome {
    margin-top: 5px;
    font-size: 14px;
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: 1px;
    color: #999;
    transition: 0.2s;
  }
}

.st-detail_container {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  li {
    margin-top: 0;
    width: 40%;
    list-style: none;
  }
}
.st-detail_top_desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

// button
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*   padding: 2em 0em; */
}

.buttons .container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background-color: #fff;
  padding: 40px 0px;
  width: 40%;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid 2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

/* 文字1を上に */
// .effect04:hover {
//   background-color: #000;
// }

// /* HOVERしたら文字1を上に */
// .effect04:hover span {
//   -webkit-transform: translateY(-400%) scale(-0.1, 20);
//   transform: translateY(-400%) scale(-0.1, 20);
// }

// /*文字2*/
// .effect04::before {
//   content: attr(data-sm-link-text);
//   color: #fff;
//   position: absolute;
//   left: 0;
//   right: 0;
//   margin: auto;
//   -webkit-transform: translateY(500%) scale(-0.1, 20);
//   transform: translateY(500%) scale(-0.1, 20);
// }

// /* HOVERしたら文字2を上に */
// .effect04:hover::before {
//   letter-spacing: 0.05em;
//   -webkit-transform: translateY(0) scale(1, 1);
//   transform: translateY(0) scale(1, 1);
// }

.arrow-btn.back-wrap {
  margin: 0;
  padding: 20px 0px;
  width: 100%;
  cursor: pointer;
}
// ul + ul {
//   margin-top: -1em;
// }
// ul li {
//   display: inline-block;
//   margin: 40px;
// }
.arrow-btn-wrp {
  display: flex;
  align-content: center;
  .arrow-text {
    margin: 0 5px;
  }
}

/* arrow common style */
.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.arrow-top {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(45deg);
}
.arrow-bottom {
  transform: rotate(135deg);
}
.arrow-left {
  transform: rotate(-135deg);
}
.arrow-top-narrow {
  transform: rotate(-45deg) skew(-15deg, -15deg);
}
.arrow-top-wide {
  transform: rotate(-45deg) skew(7deg, 7deg);
}
.arrow-top-left {
  transform: rotate(-90deg) skew(-10deg, -10deg);
}
.arrow-top-right {
  transform: rotate(0) skew(-10deg, -10deg);
}
.arrow-bottom-left {
  transform: rotate(180deg) skew(-10deg, -10deg);
}
.arrow-bottom-right {
  transform: rotate(90deg) skew(-10deg, -10deg);
}
